<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Envio SuperMercado</title>
		<link href="estilos.css" rel="stylesheet">
	</head>
	<body>
		<div class="divPadre">
			<form action="#">
				<label for="login">Direccion:</label>
				<input type="text" name="nombreUsuario">
				<br/>
				<label for="contra">Telefono:</label>
				<input type="password" name="contrasenia"> 
				<br>
				<input type="submit" value="Enviar" class="botonForm">
			</form>
		</div>
	</body>
</html>